* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.15;
}

body {
    display: flex;
    flex-direction: column;
    background: url(../img/background.jpg);
    background-color: #3a3a3a;
    background-position: 50% 0;
    margin: 0;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    line-height: 1.5;
}

h2 {
    margin: 10px 0;
    font-size: 2rem;
    font-weight: normal;
    color: $accent-color;
}
h3 {
    font-size: 2rem;
    font-weight: normal;
}
p {
    color: $base-color;
    line-height: 1.75;

}
.wrapper {
    max-width: 850px;
    padding: 0 15px;

    flex-grow: 1;
}
i {
    color: #424242;
}